
.left-section {
   flex-basis: 10%;
   padding: 0 20px;
    background-color: #FAFAFA;
}

.name-img-wrapper {
    margin-top: 10px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.image-wapper {

    display: flex;
    align-items: center;
    justify-content: center;
    img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
}

.name-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: #008273;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.info-section {
    margin: 0 20px;
    margin-top: 20px;
}

.tags-info {
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 45px;
    &:hover {
        background-color: #6ff0e1;
        transition: 0.3s;
        cursor: pointer;
    }
}


.tag-name-info {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}

.tag-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;

}